body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input,
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.boton {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.boton:hover {
    background-color: #218838;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
img{
   width: 550px;

}
.menu {
    background-color: #007bff; 
    color: #ffffff; 
    padding: 10px 20px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; 
}

.menu ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #ffffff; 
    text-decoration: none; 
    font-weight: bold; 
}

.menu a:hover {
    text-decoration: underline; 
}